<%= form_for(@thought) do |f| %>
  <% if @thought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thought.errors.count, "error") %> prohibited this thought from being saved:</h2>

      <ul>
      <% @thought.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>What would you like to call this entry?</h2>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <h2>How are you feeling? Write as much as you want (The more the better)</h2>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <h2>On a scale between 1-10(Incredibly Distressed - Not Distressed At All) how distressed are you?</h2>
    <%= f.number_field :distress_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
