<p id="notice"><%= notice %></p>

<h1>Listing Thoughts</h1>


    <% @thoughts.each do |thought| %>
         <%= thought.title %>
         <%= thought.body %>
         <%= thought.distress_level %>
         <%= thought.user.email %> 
         <%= link_to 'Show', thought %>
         <%= link_to 'Edit', edit_thought_path(thought) %>
         <%= link_to 'Destroy', thought, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<br>

<%= link_to 'New Thought', new_thought_path %>
